*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef2f7;
}

/* ================= NAVBAR ================= */

.navbar{
    height:80px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.navbar h1{
    color:#2563eb;
    font-size:30px;
}

.nav-buttons{
    display:flex;
    gap:15px;
}

.nav-buttons button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:15px;
    transition:.3s;
}

.nav-buttons button:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}

/* ================= PRODUCTS ================= */

.products-container{

    width:90%;
    max-width:1300px;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
    gap:30px;
}

.product-card{

    background:white;
    border-radius:14px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.product-card img{

    width:100%;
    height:220px;
    object-fit:cover;
}

.product-card h2{

    padding:18px 18px 10px;
    font-size:23px;
    color:#646565
}

.product-card p{

    color:#666;
    padding:0 18px;
    line-height:24px;
}

.product-card h3{

    color:#2563eb;
    padding:18px;
    font-size:24px;
}
/* ================= AUTH PAGES ================= */

.auth-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#eef2f7;
}

.auth-card{
    width:400px;
    background:white;
    padding:40px;
    border-radius:14px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    display:flex;
    flex-direction:column;
}

.auth-card h1{
    text-align:center;
    color:#2563eb;
    margin-bottom:10px;
}

.auth-card h2{
    text-align:center;
    margin-bottom:30px;
    color:#b6b5b5
}

.auth-card input{
    padding:14px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}

.auth-card input:focus{
    border-color:#2563eb;
}

.auth-card button{
    padding:14px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:16px;
    font-weight:bold;
    margin-top:10px;
    transition:.3s;
}

.auth-card button:hover{
    background:#1d4ed8;
}

.auth-card p{
    text-align:center;
    margin-top:25px;
}

.auth-card span{
    color:#2563eb;
    cursor:pointer;
    font-weight:bold;
    margin-left:5px;
}

.auth-card span:hover{
    text-decoration:underline;
}
